@font-face{
font-family:cheri;
src:url('../fonts/cheri.ttf') format('ttf');
}
@font-face{
font-family:cfi;
src:url('../fonts/cfu.ttf') format('ttf');
}
@font-face{
font-family:kg;
src:url('../fonts/kg.ttf') format('ttf');
}
@font-face{
font-family:mf;
src:url('../fonts/Mf.ttf') format('ttf');
}