{% extends 'ProposalWebBundle:Default:base.html.twig' %}
		{% block title %}
        <title>confirm</title>
        {% endblock %}

        {% block private_css %}
            {% stylesheets '@ProposalWebBundle/Resources/public/css/confirm/*'%}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}


        {% block main_content %}
        <div class="container">
			<!-- Codrops top bar -->
            <div class="codrops-top">

                <span class="right">
					<strong><a href="" >Images by Kinson Chow</a></strong>
                </span>
                <div class="clr"></div>
            </div>
			<header>
				<h1>请认真确认以下身份信息，<span><strong>以便顺利兑奖</strong></span></h1>
				<p class="codrops-demos">
					<a class="current-demo" href="index4.html">^_^</a>
				</p>
			</header>
			<section class="cr-container">
				
				<input id="select-img-1" name="radio-set-1" type="radio" class="cr-selector-img-1" checked/>
				<label for="select-img-1" class="cr-label-img-1">1</label>
				
				<input id="select-img-2" name="radio-set-1" type="radio" class="cr-selector-img-2" />
				<label for="select-img-2" class="cr-label-img-2">2</label>
				
				<input id="select-img-3" name="radio-set-1" type="radio" class="cr-selector-img-3" />
				<label for="select-img-3" class="cr-label-img-3">3</label>
				
				<input id="select-img-4" name="radio-set-1" type="radio" class="cr-selector-img-4" />
				<label for="select-img-4" class="cr-label-img-4">4</label>
				
				<div class="clr"></div>	
				<div class="cr-bgimg">
					<div>
						<span>Slice 1 - Image 1</span>
						<span>Slice 1 - Image 2</span>
						<span>Slice 1 - Image 3</span>
						<span>Slice 1 - Image 4</span>
					</div>
					<div>
						<span>Slice 2 - Image 1</span>
						<span>Slice 2 - Image 2</span>
						<span>Slice 2 - Image 3</span>
						<span>Slice 2 - Image 4</span>
					</div>
					<div>
						<span>Slice 3 - Image 1</span>
						<span>Slice 3 - Image 2</span>
						<span>Slice 3 - Image 3</span>
						<span>Slice 3 - Image 4</span>
					</div>
					<div>
						<span>Slice 4 - Image 1</span>
						<span>Slice 4 - Image 2</span>
						<span>Slice 4 - Image 3</span>
						<span>Slice 4 - Image 4</span>
					</div>
				</div>
				<div class="cr-titles">
					<h3><span></span><span>姓名:周小猪</span></h3>
					<h3><span></span><span>性别：女，应该不会有错</span></h3>
					<h3><span></span><span>籍贯：广西/云浮，现居住南海桂城</span></h3>
					<h3><span></span><span>手机号码：150156*****</span></h3>
				</div>
			</section>
            <br>
            {% block form %}
                {{ form(form) }}
            {% endblock %}
            {#<form method="post">
            <p style="font-size:19px;font-weight:600;">
            <input type="checkbox" name="checkbox">讨厌，就是屎猪我了啦&gt_&lt 
            </p>
            <input  style="width:60px;height:30px;margin-top:20px;font-size:18px" type="submit" name="confirm" value="确定">
            </form> #}
            
        </div>
       {% endblock %}

        {#<?php
        $url="../heart/heart2.php";

        //判断是否勾选及是否点击提交按钮
        if(isset($_POST['confirm'])){
          if(isset($_POST['checkbox'])){
             echo "<script language = 'javascript'  type='text/javascript' > ";
             echo " window.location.href = '$url' ";
             echo " </script>";
		  }else{
              echo "<script>alert('请确认以上信息')</script>";
              return;
        }
       }
        ?>#}
