{% extends 'KctestWebBundle:Default:layout.html.twig' %}


<body>
<div class="bg1">
<div class="title1">{{ title0 }}
<br>{{ title1 }}
        </div>
    <div class="button-middle">
    <a href="proposal2.php"><button class="button blue" ><div class="shine"></div>开始>></button></a>
		</div>
</div>


</body>
</html>
