<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>proposal2</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/proposal.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
<link rel="stylesheet" type="text/css" href="css/button.css" />
<script src="js/jquery.min.js"></script>
<script src="js/collapse.js"></script>
<script src="js/transition.js"></script>
</head>

<body>
<div class="bg-1">
<div class="container">
  <div class="page-header">
    <h1 style="color:#FFF;font-weight:700;">请回答以下问题↓</h1>
  </div>

  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" style="box-shadow: 1px 2px 7px;" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:#FFF;font-weight:700;">
            问题1：
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
       <div class="bg2">
       <div class="in_box">
       <h2 style="color:white;font-size:40px;font-family:'黑体'">你最希望和谁一起去旅行？</h2><br><br>
       <label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
  <p>家人/亲戚</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  <p>爱人</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
  <p>基友/闺蜜</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
 <p>同学/同事</p> 
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
 <p>一个人</p> 
</label>

 <button class="button green q-z" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" >下一题</button>
</div>
       </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="box-shadow: 1px 2px 7px;" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="color:#FFF;font-weight:700;">
            问题2：
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="bg3">
        <div class="in_box">
        <h2 style="color:white;font-size:40px;font-family:'黑体'">你是如何计划旅行的？</h2><br><br>
       <label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
  <p>跟团游，让旅行社安排一切</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
  <p>自由行，自己安排好一切</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
  <p>只管掏钱，景点酒店食宿什么的让基友/闺蜜管去吧</p>
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
 <p>家里人打点一切</p> 
</label><br>
<label class="radio">
  <input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
 <p>来一场说走就走的旅行</p> 
</label>
 <button class="button green q-z" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >下一题</button>
</div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" style="box-shadow: 1px 2px 7px;" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="color:#FFF;font-weight:700;">
            问题3：
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
       <div class="bg4">
        <div class="in_box" style="font-size:25px">
        <h2 style="color:white;font-size:40px;font-family:'黑体'">你认为最佳的旅游月是？</h2><br><br>
        <font color="#FFFFFF">
       <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1">
  1月
</label>
<label class="checkbox-inline">
  <input type="checkbox">
  2月
</label>
<label class="checkbox-inline">
  <input type="checkbox">
  3月
</label><br>
<label class="checkbox-inline">
  <input type="checkbox">
 4月 
</label>
<label class="checkbox-inline">
  <input type="checkbox">
 5月
</label>
 <label class="checkbox-inline">
  <input type="checkbox">
  6月
</label><br>
 <label class="checkbox-inline">
  <input type="checkbox">
  7月
</label>
 <label class="checkbox-inline">
  <input type="checkbox">
  8月
</label>
 <label class="checkbox-inline">
  <input type="checkbox">
  9月
</label><br>
 <label class="checkbox-inline">
  <input type="checkbox">
  10月
</label>
 <label class="checkbox-inline" style="margin-left:-3px">
  <input type="checkbox">
  11月
</label>
 <label class="checkbox-inline" style="margin-left:-4px">
  <input type="checkbox">
  12月
</label><br><br></font>
 <button class="button purple q-z" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" type="button">下一题</button>
</div>
       </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" style="box-shadow: 1px 2px 7px;" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" style="color:#FFF;font-weight:700;">
            问题4：
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="bg5">
        <div class="in_box" style="padding-top:70px;padding-left:310px">
        <h2 style="color:white;font-size:40px;font-family:'黑体';">你更倾向于什么类型的旅游？</h2><br><br>
        <div style="padding-left:50px">
        <div style="color:#FFF500; font-size:24px">
       <label class="checkbox">
  <input type="checkbox" >
  <p>涉猎好山好水，一览自然风光</p>
</label><br>
<label class="checkbox">
  <input type="checkbox">
  <p>游览名胜古迹，领略历史人文</p>
</label><br>
<label class="checkbox">
  <input type="checkbox">
  <p>游历乡间小镇，感受风土情怀</p>
</label><br>
<label class="checkbox">
  <input type="checkbox">
 <p>刺激好玩，机动游戏、潜水等</p> 
</label><br>
<label class="checkbox">
  <input type="checkbox">
 <p>购物，买买买</p> 
</label>
</div>
 <button class="button orange q-z" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" type="button" >下一题</input>
 </div>
</div>
        </div>
      </div>
    </div>
     <div class="panel panel-default">
      <div class="panel-heading" style="box-shadow: 1px 2px 7px;" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="color:#FFF;font-weight:700;">
            问题5：
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="bg6">
        <div class="in_box" style="padding-top:15%">
        <h2 style="color:white;font-size:40px;font-family:'黑体';">写下一个或数个你喜爱的欧洲城市（用空格隔开）</h2>
        <br>
        <br>
        <div class="cities_area">
        <form method="post">
        <textarea name="cities" rows="5" cols="70"></textarea><br>
        <button class="button red q-z" style="margin-left:-0.4px" type="submit" name="sb">完成</button>
        <!-- 提交脚本文件 -->
        <?php
        //声明变量保存文件名，该文件保存最后一问题信息
        $filename="cities_data.txt";
		$url="storybook/story.php";
        
        //判断屎猪是否按下完成按钮，按下则条件成功
        if(isset($_POST['sb'])){
			if(!empty($_POST['cities'])){
           $message=$_POST['cities'];
          file_put_contents($filename, $message); 
             echo "<script language = 'javascript'  type ='text/javascript' > ";  
             echo " window.location.href = '$url' ";  
             echo " </script>" ;
			 require("sendemail.php");
			 echo "<script>alert('请认真阅读故事，并回答下方问题')</script>";
          }else{
             echo "<script>alert('请输入城市')</script>";
          return;
          }
		}
		
	
        
        //定义向文件写入数据的函数
         function writeMessage($filename,$message){
        $fp=fopen($filename, "a");
        if(flock($fp,LOCK_EX)){
          fwrite($fp,$message);
            flock($fp,LOCK_UN);
         }
         fclose($fp);
         } 
         ?> 
        </form></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
