<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}base_admin{% endblock %}</title>
    {% stylesheets
    '@ProposalWebBundle/Resources/public/css/proposal.css'
    '@ProposalWebBundle/Resources/public/css/base.css'
    '@ProposalWebBundle/Resources/public/css/button.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
{% endstylesheets %}
</head>

<body>
<div class="main_block">
{% block main_form %}
    
{% endblock %}
</div>
</body>
</html>